<div id="filter-job-post-card">
  <div class="space-y-6">

    <!-- Jobs Grid -->
    <div [ngClass]="{
      'grid grid-cols-1 gap-4': col === 1,
      'grid grid-cols-2 gap-4': col === 2,
      'grid grid-cols-3 gap-4': col === 3
    }">
      <ng-container *ngIf="isLoading; else jobPostList">
        <app-job-post *ngFor="let i of [].constructor(pageSize); let idx = index" [isLoading]="true"></app-job-post>
      </ng-container>

      <ng-template #jobPostList>
        <ng-container *ngIf="jobPosts.length > 0; else noData">
          <app-job-post
            *ngFor="let job of jobPosts"
            [id]="job.id"
            [slug]="job.slug"
            [companyImageUrl]="job?.companyDict?.companyImageUrl"
            [companyName]="job?.companyDict?.companyName"
            [jobName]="job?.jobName"
            [cityName]="job?.locationDict?.city"
            [deadline]="job?.deadline"
            [isUrgent]="job?.isUrgent"
            [isHot]="job?.isHot"
            [salaryMin]="job.salaryMin"
            [salaryMax]="job.salaryMax"
            [isLoading]="false"
          ></app-job-post>
        </ng-container>
      </ng-template>

      <ng-template #noData>
        <app-no-data-card></app-no-data-card>
      </ng-template>
    </div>

    <!-- Pagination -->
    <div *ngIf="totalPages > 1" class="flex justify-center mt-6">
      <div class="flex gap-2 items-center">
        <!-- Nút Previous -->
        <button
          (click)="changePage(page - 1)"
          [disabled]="page === 1"
          class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md hover:bg-gray-300 disabled:opacity-50 disabled:cursor-not-allowed transition-colors"
        >
          Previous
        </button>

        <!-- Nút trang -->
        <button
          *ngFor="let p of getVisiblePages()"
          (click)="changePage(p)"
          [ngClass]="{
            'bg-blue-600 text-white shadow-md scale-105': p === page,
            'bg-gray-200 text-gray-800': p !== page
          }"
          class="px-4 py-2 rounded-md hover:bg-gray-300 transition-all"
        >
          {{ p }}
        </button>

        <!-- Nút Next -->
        <button
          (click)="changePage(page + 1)"
          [disabled]="page === totalPages"
          class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md hover:bg-gray-300 disabled:opacity-50 disabled:cursor-not-allowed transition-colors"
        >
          Next
        </button>
      </div>
    </div>

  </div>
</div>
