/* Container chính */
.top-company-carousel {
  position: relative;
}

/* Phân trang */
swiper-container::part(pagination) {
  bottom: 0; /* Đặt ở dưới cùng của swiper-container */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px; /* Thêm padding để tạo khoảng cách */
}

swiper-container::part(pagination-bullet) {
  width: 8px;
  height: 8px;
  background: #d1d5db; /* Tailwind gray-300 */
  margin: 0 4px;
  opacity: 1;
}

swiper-container::part(pagination-bullet-active) {
  background: #2b6cb0; /* Tailwind blue-600 */
}
