<div class="max-w-screen-xl mx-auto mt-10 mb-16 px-4">
  <!-- Tiêu đề -->
  <h1
    class="text-4xl font-bold mb-1 bg-gradient-to-r from-[#441da0] to-[#6b45c9] text-transparent bg-clip-text"
  >
    Khám Phá Văn Hóa Công ty
  </h1>

  <!-- Phụ đề -->
  <p class="text-lg text-gray-500 max-w-3xl mb-8">
    Tìm hiểu văn hóa công ty và chọn cho bạn nơi làm việc phù hợp nhất
  </p>

  <!-- Tìm kiếm công ty -->
  <div class="my-6">
    <app-company-search />
  </div>

  <!-- Danh sách công ty -->
  <div class="bg-white rounded-2xl shadow-md px-6 py-6">
    <app-companies />
  </div>
</div>
