<div class="max-w-screen-xl mx-auto mt-8 mb-12 px-6 bg-white rounded-xl">
  <!-- Tiêu đề -->
  <h1 class="text-4xl font-bold mb-1 text-orange-600 tracking-tight">
    Khám Phá Văn Hóa Công ty
  </h1>

  <!-- Phụ đề -->
  <p class="text-lg text-gray-600 max-w-3xl mb-8 leading-7">
    Tìm hiểu văn hóa công ty và chọn cho bạn nơi làm việc phù hợp nhất
  </p>

  <!-- Tìm kiếm công ty -->
  <div class="my-8">
    <app-company-search />
  </div>

  <!-- Danh sách công ty -->
  <div class="bg-white rounded-xl p-5">
    <app-companies />
  </div>
</div>
