<form [formGroup]="form" id="modal-form" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

    <div class="flex flex-col col-span-2">
      <label class="mb-2 font-medium">Tên bằng cấp/Chứng chỉ <span class="text-red-500">*</span></label>
      <input
        formControlName="degreeName"
        placeholder="VD: Bằng Cao Đẳng CNTT, Chứng chỉ nghề điện công nghiệp"
        type="text"
        class="border rounded p-2 w-full"
      />
    </div>

    <div class="flex flex-col col-span-2">
      <label class="mb-2 font-medium">Chuyên ngành đào tạo <span class="text-red-500">*</span></label>
      <input
        formControlName="major"
        placeholder="Nhập chuyên ngành đào tạo"
        type="text"
        class="border rounded p-2 w-full"
      />
    </div>

    <div class="flex flex-col col-span-2">
      <label class="mb-2 font-medium">Trường/Trung tâm đào tạo <span class="text-red-500">*</span></label>
      <input
        formControlName="trainingPlaceName"
        placeholder="Nhập tên trường/Trung tâm đào tạo"
        type="text"
        class="border rounded p-2 w-full"
      />
    </div>

    <div class="flex flex-col">
      <label class="mb-2 font-medium">Ngày bắt đầu <span class="text-red-500">*</span></label>
      <input
        formControlName="startDate"
        type="date"
        max="{{ maxYesterday }}"
        class="border rounded p-2 w-full"
      />
    </div>

    <div class="flex flex-col">
      <label class="mb-2 font-medium">Ngày hoàn thành (Để trống nếu đang học tại đây)</label>
      <input
        formControlName="completedDate"
        type="date"
        max="{{ maxToday }}"
        class="border rounded p-2 w-full"
      />
    </div>

    <div class="flex flex-col col-span-2">
      <label class="mb-2 font-medium">Mô tả thêm</label>
      <textarea
        formControlName="description"
        placeholder="Nhập nội dung mô tả tại đây"
        class="border rounded p-2 w-full h-32 resize-none"
      ></textarea>
    </div>

  </div>
</form>
