<!-- main-job-right-banner.component.html -->

<div class="sticky top-0 md:top-22 pb-4 px-4 md:px-0 flex flex-col gap-4">
  <ng-container *ngFor="let banner of rightBanners">
    <div class="relative w-full">
      <a
        [href]="banner.buttonLink || '#'"
        target="_blank"
        rel="noopener noreferrer"
        class="block w-full hover:cursor-pointer"
      >
        <img
          [src]="banner.imageUrl"
          [alt]="banner.description || 'Banner'"
          loading="lazy"
          class="w-full h-auto rounded-xl"
        />
      </a>

      <ng-container *ngIf="banner.isShowButton && banner.buttonLink">
        <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 z-10">
          <a
            [href]="banner.buttonLink"
            target="_blank"
            rel="noopener noreferrer"
            class="min-w-[180px] h-11 flex items-center justify-center px-6 py-2 rounded-full border-2 text-white border-white bg-black/20 backdrop-blur-md font-semibold text-base transition hover:-translate-y-1 hover:shadow-lg"
          >
            {{ banner.buttonText || 'Xem thêm' }}
          </a>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
