<nav class="w-full bg-white shadow-md px-4 py-3 min-w-[1280px]">
  <div class="container mx-auto flex flex-wrap gap-3 items-center justify-center md:justify-start">
    <a
      *ngFor="let tab of tabItems"
      [routerLink]="tab.path"
      routerLinkActive="bg-amber-100 text-amber-600 font-bold border-b-4 border-amber-600 shadow-sm"
      [routerLinkActiveOptions]="{ exact: tab.id === 1 }"
      class="flex items-center whitespace-nowrap px-4 py-2 rounded-md text-gray-800 text-sm font-medium hover:bg-amber-50 hover:text-amber-600 transition-all duration-300 ease-in-out"
    >
      <i class="fas fa-{{tab.icon}} mr-2 text-base"></i>
      {{ tab.label }}
    </a>
  </div>
</nav>
