<div class="grid grid-cols-1 md:grid-cols-12 gap-6">
  <!-- LEFT SIDEBAR -->
  <div class="md:col-span-5 lg:col-span-3 space-y-4">
    <div class="bg-white p-4 rounded-xl shadow">
      <app-sidebar-profile />
    </div>
    <div class="bg-white p-4 rounded-xl shadow">
      <app-sidebar-view-total />
    </div>
    <div class="bg-white p-4 rounded-xl shadow">
      <app-job-application-card />
    </div>
  </div>

  <!-- RIGHT CONTENT -->
  <div class="md:col-span-7 lg:col-span-9 space-y-4">
    <div>
      <app-job-seeker-quantity-statistics />
    </div>

    <div class="bg-white p-4 rounded-xl shadow">
      <h2 class="text-lg font-semibold mb-4 text-primary">Hoạt động của bạn</h2>
      <app-activity-chart />
    </div>

    <div class="bg-white p-4 rounded-xl shadow">
      <h2 class="text-lg font-semibold mb-4 text-primary">Việc làm gợi ý</h2>
      <app-suggested-job-post-card [pageSize]="10" />
    </div>
  </div>
</div>
